In [2]:
import pandas as pd
df = pd.read_csv("skuinfo2.csv")

In [53]:
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df.head()

,SKU,DEPT,CLASSID,UPC,STYLE,COLOR,SIZE,PACKSIZE,VENDOR,BRAND
0,3,6505,113,400000003000,00 F55KT2,WHISPERWHITE,P8EA,1,5119207,TURNBURY
1,4,8101,002,400000004000,22 615CZ4,SPEARMI,S,1,3311144,C A SPOR
2,5,7307,003,400000005000,7LBS 245-01,34 SILVER,KING,1,5510554,BEAU IDE
3,8,3404,00B,400000008000,622 F05H84,MORNING MI,2T,1,2912827,HARTSTRI
4,15,2301,004,400000015000,126 MDU461,255CAMEL,12,1,23272,JONES/LA

In [4]:
df.shape

(1556033, 10)

### The most popular brand is POLO FAS, and there is a tie between the bottom 159 brands taht are the least popular with only one item in the data

In [27]:
brands = pd.DataFrame(df["BRAND"].value_counts())

print(brands.head(3))
print(brands.tail(159))

           BRAND
POLO FAS  130994
BROWN SH   52160
ENZO ANG   49121
          BRAND
IZOD MEN      1
DOCKER'S      1
GODINGER      1
ESSEX MF      1
BBCO I        1
...         ...
SENSI /D      1
NOA FLUE      1
DEAD TRE      1
STEPHANI      1
RAWLINGS      1

[159 rows x 1 columns]

### The packsize for most items in the data is 1, and the most common range is between 1 and 6 items

In [35]:
packsize = df["PACKSIZE"].value_counts()
packsize.head()

1    1525440
3      13987
6       7252
2       4152
4       2925
Name: PACKSIZE, dtype: int64

### We can assume most items in this data set are clothing items since the most common size are clothing sizes with the most common sizes being Large and Medium

In [55]:
sizes = df["SIZE"].value_counts()
sizes

L             124555
M             124348
S             107074
ALL           102739
XL             89543
               ...
MUG/SHUTTE         1
3834               1
DINR/FRUTT         1
PK60               1
PRO POWDER         1
Name: SIZE, Length: 9782, dtype: int64

### After checking for missing values, we found that there were missing values in: Color, Size, and brand. We chose to ignore the missing values, since after merging the data and aggregating them we found that the null values were dropped, and therefore should not affect our machine learning problem

In [47]:
for i in df.columns:
    print(i, df[i].isna().value_counts())

SKU False    1556033
Name: SKU, dtype: int64
DEPT False    1556033
Name: DEPT, dtype: int64
CLASSID False    1556033
Name: CLASSID, dtype: int64
UPC False    1556033
Name: UPC, dtype: int64
STYLE False    1556033
Name: STYLE, dtype: int64
COLOR False    1550111
True        5922
Name: COLOR, dtype: int64
SIZE False    1548801
True        7232
Name: SIZE, dtype: int64
PACKSIZE False    1556033
Name: PACKSIZE, dtype: int64
VENDOR False    1556033
Name: VENDOR, dtype: int64
BRAND False    1531413
True       24620
Name: BRAND, dtype: int64

In [44]:
df2 = pd.read_csv("group7_data.csv")

In [46]:
for i in df2.columns:
    print(i, df2[i].isna().value_counts())

VENDOR False    883
Name: VENDOR, dtype: int64
FREQUENCY False    883
Name: FREQUENCY, dtype: int64
RECENCY False    883
Name: RECENCY, dtype: int64
AVG_COST False    883
Name: AVG_COST, dtype: int64
RETAIL False    883
Name: RETAIL, dtype: int64
QUANTIY False    883
Name: QUANTIY, dtype: int64
AMT False    883
Name: AMT, dtype: int64
PURCHASES False    883
Name: PURCHASES, dtype: int64
RETURNS False    883
Name: RETURNS, dtype: int64

In [52]:
df["COLOR"].nunique()

71319

### Findings

- The most popular brand is POLO FAS
- There is a 159 way tie between the least popular brands which only appear once in the data
- Most items in the data are clothing items with the most popular clothing sizes being medium and large
- We found missing items in the data but decided not to do anything with them since once we merged the data the null values would be dropped and it wouldn't affect the data we would use to work on our machine learning question